<div class="mt-4">
    <h3>Sửa khóa học</h3>
    <form method="POST" action="/courses/{{course._id}}?_method=PUT">
        <div class="mb-3">
            <label for="name">Tên khóa học</label>
            <input type="text" class="form-control" value="{{course.name}}" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="description">Mô tả</label>
            <input type="text" class="form-control" value="{{course.description}}" id="description" name="description">
        </div>
        <div class="mb-3">
            <label for="video_id">videoID</label>
            <input type="text" class="form-control" value="{{course.video_id}}" id="video_id" name="video_id">
        </div>
        <button type="submit" class="btn btn-primary">Sửa khóa học</button>
    </form>
</div>