<form>
    <div class="form-group">
        <label for="search-input">tìm kiếm</label>
        <input type="text" name="q" class="form-control" id="search-input" placeholder="nhap vao day">
        từ khóa
        <input type="text" name="fullname">
        <input type="text" name="age">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>